<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">

                    <a href="https://github.com/rohitcsit/Zoom_Attendance_Tracker" class="btn btn-success m-3 " target="_blank">Github</a>
                    <a href="https://drive.google.com/file/d/1_N7xQqpITmObizHcJ7MeuGtOqFcDpEAd/view?usp=sharing" class="btn btn-success" target="_blank">Workflow Diagram</a>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">Course Vita Hackathon Team-84</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>