{% include "components/login.html" %}

<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: rgb(0, 3, 88);">
    <div class="container">
        <a class="navbar-brand" href="/">Zoom Attendance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#session">Session</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#query">Query</a>
                </li>

            </ul>
            <div class="d-flex">

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Login
                </button>
            </div>
        </div>
    </div>
</nav>