<div class="container py-4" id="session">
    <h2 class="h2 pb-4 text-center">Upcoming Sessions</h2>

    <div class="row">
        {% for session in sessions %}
        <div class="col-md-3">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <h5 class="card-header alert alert-success">Course - <span>{{ session.duration }} Hours</span></h5>
                <div class="card-body text-secondary">
                    <h5 class="card-title">{{ session.course }}</h5>
                    <p class="card-text">{{ session.description }}</p>
                    <p class="card-text"><strong>Date:</strong> {{ session.session_date }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-md-12">
            <div class="alert alert-info text-center">No upcoming sessions available.</div>
        </div>
        {% endfor %}
    </div>
</div>